.services {
  background: #111;
  color: #fff;
  font-family: "Poppins" sans-serif;
}
.title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 30px;
  padding-bottom: 20px;
  font-family: "Ubuntu" sans-serif;
}
.services .title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 200px;
  height: 3px;
  background: #fff;
  transform: translateX(-50%);
}
.services .title::after {
  content: "My Experience job";
  position: absolute;
  font-size: 20px;
  color: royalblue;
  bottom: -13px;
  padding: 5px;
  left: 50%;
  background: #111;
  transform: translateX(-50%);
}
.services .serv-content {
  display: flex;
  padding: 0 5vw;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.services .serv-content .card {
  background: #222;
  text-align: center;

  border-radius: 6px;
  padding: 20px 25px;
  cursor: pointer;
  width: 34%;
  transition: all 0.3s ease;
}
.services .serv-content .card .box .alfamart {
  color: royalblue;
}
.services .serv-content .card .box .alfamart:hover {
  color: #fff;
}
.services .serv-content .card .box .alfamart img {
  width: 250px;
  height: 180px;
}
.services .serv-content .card .box .alfamart .title-company {
  font-weight: 500;
  font-size: 25px;
}
.services .serv-content .card .box .des-alf {
  font-weight: 500;
  padding: 7px 0;
}
.services .serv-content .card .box .alfamart .position,
.year {
  padding: 7px 0;
  font-weight: 500;
  font-size: 20px;
}
.services .serv-content .card .box .alfamart .description {
  text-align: justify;
  font-size: 18px;
  font-weight: 500;
}
.services .serv-content .card:hover {
  background-color: royalblue;
  transition: all 0.3s ease;
}
.services .serv-content .card .box {
  transition: all 0.3s ease;
}
.services .serv-content .card:hover .box {
  transform: scale(1.05);
}

/* .services .serv-content .card:hover .box {
  transform: scale(1.05);
}
.services .serv-content .card img {
  font-size: 50px;
  color: royalblue;
  transition: color 0.3s ease;
}
.services .serv-content .card:hover i {
  color: #fff;
}
.services .serv-content .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
} */
*/
/* responsive media query start */
@media (max-width: 991px) {
  .max-width {
    width: 100%;
    padding: 10px 50px;
  }
}
@media (max-width: 947px) {
  .max-width {
    padding: 0 2;
  }
  .services .serv-content .card {
    width: 49%;
    margin-bottom: 20px;
  }
}

@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }
  .services .serv-content .card {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .scroll-up-btn {
    right: 15px;
    bottom: 15px;
    height: 38px;
    width: 35px;
    font-size: 23px;
    line-height: 38px;
  }
}
